body, td, th {
	font-family: Tahoma, sans-serif, Arial, Helvetica;
	font-size: 13px;
	color: #000;
}

body {
	background-color: #f3f3f0;
	margin-left: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	line-height: 1.5;
}

h1, h2, h3
{
	line-height: 1.0;
}

h1 {
	font-size:21px;
	color:#008799;
	font-weight:normal;
	margin-top: 0;
	margin-bottom: 20px;
}

h2, h3 {
	font-size:15px;
	color:#666;
	font-weight:bold;
	margin-top: 25px;
	margin-bottom: 15px;
}

h3
{
	font-size: 13px;
}

h4 {
	font-size:14px;
	color:#008799;
	font-weight:bold;
	display:block;
	line-height:23px;
	/*border-top:10px solid #e4e4dd;*/
	border-top:1px solid #b8b8b2;
}

h5 {
	font-size:13px;
	color:#008799;
	font-weight:bold;
	display:block;
	line-height:23px;
	border-top:1px solid #b8b8b2;
}

p
{
	margin-top: 0;
	margin-bottom: 15px;
}

a { text-decoration: none; }

a:link     {color: #006977; } 
a:visited  {color: #006977; }
a:active   {color: #cd0000; }
a:hover    {color: #cd0000; }
a:bb:hover {color: #cd0000; }


#rahmen{
	width:960px;
	background-color:#FFF;
	margin-left:auto;
	margin-right:auto;
}

#logo {
	
}

#logoUni {
	float:left;
	width:280px;
	height:115px;
	margin:25px 0 0 10px;
}

#logoSlogan {
	float:right;
	position:relative;
	width:650px;
	height:140px;
	margin:0 10px 0 0;
	text-align:right;
}

#logoUni_klein {
	float:right;
	position:relative;
	width:650px;
	height:46px;
	margin:25px 10px 0 0;
	text-align:right;
}

#logoSlogan img{
	position:absolute;
	bottom:0px;
	right:0px;
}

#kopfBalken {
	clear:both;
}

#pfad {

}

#pfadTitel {
	float:left;
	width:280px;
	height:10px;
	line-height:10px;
	font-size:12px;
	color:#666;
	margin:10px 0 10px 10px;
	text-transform:uppercase;
	letter-spacing:1px;
}

#pfadTitel a:link     {color: #006977; } 
#pfadTitel a:visited  {color: #006977; }
#pfadTitel a:active   {color: #cd0000; }
#pfadTitel a:hover    {color: #cd0000; }
#pfadTitel a:bb:hover {color: #cd0000; }

#pfadLeiste {
	float:right;
	width:650px;
	height:10px;
	line-height:10px;
	font-size:12px;
	color:#666;
	margin:10px 0 10px 10px;
}

#pfadLeiste a:link     {color: #006977; } 
#pfadLeiste a:visited  {color: #006977; }
#pfadLeiste a:active   {color: #cd0000; }
#pfadLeiste a:hover    {color: #cd0000; }
#pfadLeiste a:bb:hover {color: #cd0000; }

#teaser {
	clear:both;
}

#teaserLinks {
	float:left;
	width:280px;
	height: 140px;
	margin:0 10px 10px 10px;
	overflow: hidden;
	background-image: url('images/teaserMuster1.gif');
}

#teaserRechts {
	float:left;
	width:650px;
	height: 140px;
	margin:0 0 10px 0px;
	overflow: hidden;
	background-image: url('images/teaserLogoSchief.jpg');
}

#mitte {
	clear:both;
}

#menu {
	float:left;
	width:280px;
	padding:20px 10px 20px 10px;
	font-size:12px;
}

#menu ul {
	list-style-type:none;
	margin:0 0 0 0;
	padding:0;
}

.menuItem {
	width:240px;
	border-top:1px solid #b8b8b2;
	line-height:20px;
}

.menuItem a {
	display:block;
	background:url(images/pfeilLeer.gif) no-repeat center left;
	padding-left:20px;
}

.menuItem a.nav-selected {
	display:block;
	background:url(images/pfeilKleinBlau.gif) no-repeat center left;
	padding-left:20px;
}


/* Menu 2. Ebene */
.menuItem .SubMenu {
	/* background-color:#f9f9f6; */
}

.menuItem .SubMenu .menuItem{
	width:225px;
	border-top:1px solid #b8b8b2;
	line-height:20px;
	padding-left:15px;
}

/* Menu 3. Ebene */
.menuItem .SubSubMenu .menuItem{
	width:210px;
	border-top:1px solid #b8b8b2;
	line-height:20px;
	padding-left:15px;
}


.menuItem a:link     {color: #006977; } 
.menuItem a:hover    {color: #cd0000; background-color:#f3f3f0; }
.menuItem a:visited  {color: #006977; }
.menuItem a:active   {color: #cd0000; background-color:#f3f3f0; }
.menuItem a:bb:hover {color: #cd0000; background-color:#f3f3f0; }

#seite {
	float:right;
	/*width:650px;*/
	width:480px;
	padding:20px 10px 20px 0;
}

#seiteVollbreite {
	float:right;
	width:650px;
	/*width:480px;*/
	padding:20px 10px 20px 0;
}

#rechts {
	float:right;
	width:160px;
	padding:20px 10px 20px 0px;
}

#links {
	float:left;
	width:160px;
	padding:20px 10px 20px 0px;
}

#fuss {
	clear:both;
	padding:20px 0 10px 0;
}

.bildtitel {
	font-style:italic;
	color:#008799;
}

.blau {
	color:#008799;
}


/* Form */

.formRow {
	position:relative;
	width:475px;
	line-height:16px;
	padding-bottom:10px;
}

.formRowLabel {
	float:left;
	width:75px;
	color:#666;
	font-size:11px;
}

.formRowContent {
	float:right;
	width:390px;
	background-color:#F3F3F0;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:5px;
	min-height:16px;
}

.formRowContent.edit {
	float:right;
	width:390px;
	background-color:#FFF;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:5px;
	min-height:16px;
	border:1px dotted #b8b8b2;
}

.formRowDelimiter {
	/*clear:both;*/
	height:1px;
	padding:0;
	margin:0;
	border:none;
	height:16px;
}

/* Prado Controls */

.formsTText {
	width:340px;
}

.formsTLabel {
}

.TLinkButton {
	font-size:12px;
}

.TTextBox100{
	width:385px;	
	font-size:14px;
	font-family: Tahoma, sans-serif, Arial, Helvetica;
	border:none;
	background-color:#FFF;
	
}


/* Tabelle Downloads */
table.Download{
	border:none;
	border-collapse: collapse;
	margin:0px;
}

table.Download tr {
	background:#CCCCCC;	
}

table.Download td {
	width:480px;
	text-align:left;
	vertical-align:top;
	background-color:#F3F3F0;
	padding:5px;
	margin:0px;
}


table
{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
}

table thead 
{
	vertical-align: middle;
        text-align: left;
        padding: 5px;
        background-color: #E4E4DD;

}

table td
{
        vertical-align: middle;
        text-align: left;
        padding: 5px;
        border-bottom: 1px dotted #B8B8B2;
}



.itmTable
{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
}

.itmTable th
{
	vertical-align: middle;
	text-align: left;
	padding: 5px;
	background-color: #E4E4DD;
}

.itmTable td
{
	vertical-align: middle;
	text-align: left;
	padding: 5px;
	border-bottom: 1px dotted #B8B8B2;
}

/*
a[href^="http://"]:before,
a[href^="https://"]:before {
  content: "\2197\00A0";
}
*/
